We probably remember that we are working with 4-d data, where the dimensions are TIME x DEPTH x LAT x LON. 

The goal for this notebook is to loop through all the times and write the dates in YEARMONTHDAY format.

In [1]:
import numpy as np
from netCDF4 import Dataset
import datetime as td

Before we look at our data, here is an example of working with date and timedelta. Say you want to find out the date 10 years after March 9th, 2020:

In [2]:
march_9_2020 = td.date(2020,3,9)
print(march_9_2020)

2020-03-09

In [3]:
ten_years = td.timedelta(days =10*365) # this doesn't consider leap years

In [4]:
date_in_10_years = ten_years + march_9_2020
print(date_in_10_years)

2030-03-07

-------------------
# Now let's look at our data

The first thing is to import the dataset as a Dataset object

In [5]:
#do that here:
dataset = Dataset("/Users/brownscholar/Desktop/A2 Internship/n-atlantic-2018.nc")

Then we want to read in the time variable. Do that here:

In [6]:
# do that here: 
time = dataset.variables["time"]

Print the shape of the time variable:

In [7]:
# do that here:
print(time.shape)

(261,)

Before we start using datetime, in terminal (open a new window or tab) look at the units of time. Using this info, define a start date:

In [28]:
# do this here
startDate = td.datetime(1950,1,1,0,0,0)+td.timedelta(hours=377064)
print(startDate)

1993-01-06 00:00:00

Now, looping through the time numpy array, calculate and print the date using timedelta:

In [40]:
# do this here
day195011 = td.datetime(1950,1,1,0,0,0)

for x in range(time.shape[0]):
    startDate = day195011+td.timedelta(hours=int(time[x]))
    print(startDate)

1993-01-06 00:00:00
1993-01-13 00:00:00
1993-01-20 00:00:00
1993-01-27 00:00:00
1993-02-03 00:00:00
1993-02-10 00:00:00
1993-02-17 00:00:00
1993-02-24 00:00:00
1993-03-03 00:00:00
1993-03-10 00:00:00
1993-03-17 00:00:00
1993-03-24 00:00:00
1993-03-31 00:00:00
1993-04-07 00:00:00
1993-04-14 00:00:00
1993-04-21 00:00:00
1993-04-28 00:00:00
1993-05-05 00:00:00
1993-05-12 00:00:00
1993-05-19 00:00:00
1993-05-26 00:00:00
1993-06-02 00:00:00
1993-06-09 00:00:00
1993-06-16 00:00:00
1993-06-23 00:00:00
1993-06-30 00:00:00
1993-07-07 00:00:00
1993-07-14 00:00:00
1993-07-21 00:00:00
1993-07-28 00:00:00
1993-08-04 00:00:00
1993-08-11 00:00:00
1993-08-18 00:00:00
1993-08-25 00:00:00
1993-09-01 00:00:00
1993-09-08 00:00:00
1993-09-15 00:00:00
1993-09-22 00:00:00
1993-09-29 00:00:00
1993-10-06 00:00:00
1993-10-13 00:00:00
1993-10-20 00:00:00
1993-10-27 00:00:00
1993-11-03 00:00:00
1993-11-10 00:00:00
1993-11-17 00:00:00
1993-11-24 00:00:00
1993-12-01 00:00:00
1993-12-08 00:00:00
1993-12-15 00:00:00
1993-12-22 00:00:00
1993-12-29 00:00:00
1994-01-05 00:00:00
1994-01-12 00:00:00
1994-01-19 00:00:00
1994-01-26 00:00:00
1994-02-02 00:00:00
1994-02-09 00:00:00
1994-02-16 00:00:00
1994-02-23 00:00:00
1994-03-02 00:00:00
1994-03-09 00:00:00
1994-03-16 00:00:00
1994-03-23 00:00:00
1994-03-30 00:00:00
1994-04-06 00:00:00
1994-04-13 00:00:00
1994-04-20 00:00:00
1994-04-27 00:00:00
1994-05-04 00:00:00
1994-05-11 00:00:00
1994-05-18 00:00:00
1994-05-25 00:00:00
1994-06-01 00:00:00
1994-06-08 00:00:00
1994-06-15 00:00:00
1994-06-22 00:00:00
1994-06-29 00:00:00
1994-07-06 00:00:00
1994-07-13 00:00:00
1994-07-20 00:00:00
1994-07-27 00:00:00
1994-08-03 00:00:00
1994-08-10 00:00:00
1994-08-17 00:00:00
1994-08-24 00:00:00
1994-08-31 00:00:00
1994-09-07 00:00:00
1994-09-14 00:00:00
1994-09-21 00:00:00
1994-09-28 00:00:00
1994-10-05 00:00:00
1994-10-12 00:00:00
1994-10-19 00:00:00
1994-10-26 00:00:00
1994-11-02 00:00:00
1994-11-09 00:00:00
1994-11-16 00:00:00
1994-11-23 00:00:00
1994-11-30 00:00:00
1994-12-07 00:00:00
1994-12-14 00:00:00
1994-12-21 00:00:00
1994-12-28 00:00:00
1995-01-04 00:00:00
1995-01-11 00:00:00
1995-01-18 00:00:00
1995-01-25 00:00:00
1995-02-01 00:00:00
1995-02-08 00:00:00
1995-02-15 00:00:00
1995-02-22 00:00:00
1995-03-01 00:00:00
1995-03-08 00:00:00
1995-03-15 00:00:00
1995-03-22 00:00:00
1995-03-29 00:00:00
1995-04-05 00:00:00
1995-04-12 00:00:00
1995-04-19 00:00:00
1995-04-26 00:00:00
1995-05-03 00:00:00
1995-05-10 00:00:00
1995-05-17 00:00:00
1995-05-24 00:00:00
1995-05-31 00:00:00
1995-06-07 00:00:00
1995-06-14 00:00:00
1995-06-21 00:00:00
1995-06-28 00:00:00
1995-07-05 00:00:00
1995-07-12 00:00:00
1995-07-19 00:00:00
1995-07-26 00:00:00
1995-08-02 00:00:00
1995-08-09 00:00:00
1995-08-16 00:00:00
1995-08-23 00:00:00
1995-08-30 00:00:00
1995-09-06 00:00:00
1995-09-13 00:00:00
1995-09-20 00:00:00
1995-09-27 00:00:00
1995-10-04 00:00:00
1995-10-11 00:00:00
1995-10-18 00:00:00
1995-10-25 00:00:00
1995-11-01 00:00:00
1995-11-08 00:00:00
1995-11-15 00:00:00
1995-11-22 00:00:00
1995-11-29 00:00:00
1995-12-06 00:00:00
1995-12-13 00:00:00
1995-12-20 00:00:00
1995-12-27 00:00:00
1996-01-03 00:00:00
1996-01-10 00:00:00
1996-01-17 00:00:00
1996-01-24 00:00:00
1996-01-31 00:00:00
1996-02-07 00:00:00
1996-02-14 00:00:00
1996-02-21 00:00:00
1996-02-28 00:00:00
1996-03-06 00:00:00
1996-03-13 00:00:00
1996-03-20 00:00:00
1996-03-27 00:00:00
1996-04-03 00:00:00
1996-04-10 00:00:00
1996-04-17 00:00:00
1996-04-24 00:00:00
1996-05-01 00:00:00
1996-05-08 00:00:00
1996-05-15 00:00:00
1996-05-22 00:00:00
1996-05-29 00:00:00
1996-06-05 00:00:00
1996-06-12 00:00:00
1996-06-19 00:00:00
1996-06-26 00:00:00
1996-07-03 00:00:00
1996-07-10 00:00:00
1996-07-17 00:00:00
1996-07-24 00:00:00
1996-07-31 00:00:00
1996-08-07 00:00:00
1996-08-14 00:00:00
1996-08-21 00:00:00
1996-08-28 00:00:00
1996-09-04 00:00:00
1996-09-11 00:00:00
1996-09-18 00:00:00
1996-09-25 00:00:00
1996-10-02 00:00:00
1996-10-09 00:00:00
1996-10-16 00:00:00
1996-10-23 00:00:00
1996-10-30 00:00:00
1996-11-06 00:00:00
1996-11-13 00:00:00
1996-11-20 00:00:00
1996-11-27 00:00:00
1996-12-04 00:00:00
1996-12-11 00:00:00
1996-12-18 00:00:00
1996-12-25 00:00:00
1997-01-01 00:00:00
1997-01-08 00:00:00
1997-01-15 00:00:00
1997-01-22 00:00:00
1997-01-29 00:00:00
1997-02-05 00:00:00
1997-02-12 00:00:00
1997-02-19 00:00:00
1997-02-26 00:00:00
1997-03-05 00:00:00
1997-03-12 00:00:00
1997-03-19 00:00:00
1997-03-26 00:00:00
1997-04-02 00:00:00
1997-04-09 00:00:00
1997-04-16 00:00:00
1997-04-23 00:00:00
1997-04-30 00:00:00
1997-05-07 00:00:00
1997-05-14 00:00:00
1997-05-21 00:00:00
1997-05-28 00:00:00
1997-06-04 00:00:00
1997-06-11 00:00:00
1997-06-18 00:00:00
1997-06-25 00:00:00
1997-07-02 00:00:00
1997-07-09 00:00:00
1997-07-16 00:00:00
1997-07-23 00:00:00
1997-07-30 00:00:00
1997-08-06 00:00:00
1997-08-13 00:00:00
1997-08-20 00:00:00
1997-08-27 00:00:00
1997-09-03 00:00:00
1997-09-10 00:00:00
1997-09-17 00:00:00
1997-09-24 00:00:00
1997-10-01 00:00:00
1997-10-08 00:00:00
1997-10-15 00:00:00
1997-10-22 00:00:00
1997-10-29 00:00:00
1997-11-05 00:00:00
1997-11-12 00:00:00
1997-11-19 00:00:00
1997-11-26 00:00:00
1997-12-03 00:00:00
1997-12-10 00:00:00
1997-12-17 00:00:00
1997-12-24 00:00:00
1997-12-31 00:00:00

--------------------
# Finally,
we want to turn these date objects into strings that are of the form YEARMONTHDAY. Here is an example of how to do this using the ``march_9_2020`` date we made before:

In [30]:
print(march_9_2020.strftime("%y") + march_9_2020.strftime("%m") + march_9_2020.strftime("%d"))

# if this is confusing to you google the function "strftime"

200309

Add this to your loop and print the YEARMONTHDAY date for each date.

Now: How can we add this to our code to change our file names?

In [37]:
day195011 = td.datetime(1950,1,1,0,0,0)

for x in range(time.shape[0]):
    startDate = day195011+td.timedelta(hours=int(time[x]))
    print(startDate.strftime("%y") + startDate.strftime("%m") + startDate.strftime("%d"))

930106
930113
930120
930127
930203
930210
930217
930224
930303
930310
930317
930324
930331
930407
930414
930421
930428
930505
930512
930519
930526
930602
930609
930616
930623
930630
930707
930714
930721
930728
930804
930811
930818
930825
930901
930908
930915
930922
930929
931006
931013
931020
931027
931103
931110
931117
931124
931201
931208
931215
931222
931229
940105
940112
940119
940126
940202
940209
940216
940223
940302
940309
940316
940323
940330
940406
940413
940420
940427
940504
940511
940518
940525
940601
940608
940615
940622
940629
940706
940713
940720
940727
940803
940810
940817
940824
940831
940907
940914
940921
940928
941005
941012
941019
941026
941102
941109
941116
941123
941130
941207
941214
941221
941228
950104
950111
950118
950125
950201
950208
950215
950222
950301
950308
950315
950322
950329
950405
950412
950419
950426
950503
950510
950517
950524
950531
950607
950614
950621
950628
950705
950712
950719
950726
950802
950809
950816
950823
950830
950906
950913
950920
950927
951004
951011
951018
951025
951101
951108
951115
951122
951129
951206
951213
951220
951227
960103
960110
960117
960124
960131
960207
960214
960221
960228
960306
960313
960320
960327
960403
960410
960417
960424
960501
960508
960515
960522
960529
960605
960612
960619
960626
960703
960710
960717
960724
960731
960807
960814
960821
960828
960904
960911
960918
960925
961002
961009
961016
961023
961030
961106
961113
961120
961127
961204
961211
961218
961225
970101
970108
970115
970122
970129
970205
970212
970219
970226
970305
970312
970319
970326
970402
970409
970416
970423
970430
970507
970514
970521
970528
970604
970611
970618
970625
970702
970709
970716
970723
970730
970806
970813
970820
970827
970903
970910
970917
970924
971001
971008
971015
971022
971029
971105
971112
971119
971126
971203
971210
971217
971224
971231

In [36]:
day195011 = td.datetime(1950,1,1,0,0,0)

for x in range(time.shape[0]):
    startDate = day195011+td.timedelta(hours=int(time[x]))
    print(startDate.strftime("%y") + startDate.strftime("%m") + startDate.strftime("%d"))

930106
930113
930120
930127
930203
930210
930217
930224
930303
930310
930317
930324
930331
930407
930414
930421
930428
930505
930512
930519
930526
930602
930609
930616
930623
930630
930707
930714
930721
930728
930804
930811
930818
930825
930901
930908
930915
930922
930929
931006
931013
931020
931027
931103
931110
931117
931124
931201
931208
931215
931222
931229
940105
940112
940119
940126
940202
940209
940216
940223
940302
940309
940316
940323
940330
940406
940413
940420
940427
940504
940511
940518
940525
940601
940608
940615
940622
940629
940706
940713
940720
940727
940803
940810
940817
940824
940831
940907
940914
940921
940928
941005
941012
941019
941026
941102
941109
941116
941123
941130
941207
941214
941221
941228
950104
950111
950118
950125
950201
950208
950215
950222
950301
950308
950315
950322
950329
950405
950412
950419
950426
950503
950510
950517
950524
950531
950607
950614
950621
950628
950705
950712
950719
950726
950802
950809
950816
950823
950830
950906
950913
950920
950927
951004
951011
951018
951025
951101
951108
951115
951122
951129
951206
951213
951220
951227
960103
960110
960117
960124
960131
960207
960214
960221
960228
960306
960313
960320
960327
960403
960410
960417
960424
960501
960508
960515
960522
960529
960605
960612
960619
960626
960703
960710
960717
960724
960731
960807
960814
960821
960828
960904
960911
960918
960925
961002
961009
961016
961023
961030
961106
961113
961120
961127
961204
961211
961218
961225
970101
970108
970115
970122
970129
970205
970212
970219
970226
970305
970312
970319
970326
970402
970409
970416
970423
970430
970507
970514
970521
970528
970604
970611
970618
970625
970702
970709
970716
970723
970730
970806
970813
970820
970827
970903
970910
970917
970924
971001
971008
971015
971022
971029
971105
971112
971119
971126
971203
971210
971217
971224
971231